<table >
    <tr>
       
        <td>
            
        <jqxPivotGrid  #myPivotGrid
            [width]="getWidth()" 
            [height]="400"
            [width]="1000"
            [source]="pivotDataSource"
            [treeStyleRows] = "false"
            [autoResize] = "false"
            [multipleSelectionEnabled] = "true"
            >
        </jqxPivotGrid>
   
     </td>
     <td>
        <jqxPivotDesigner #myPivotDesigner
            [type]="pivotGrid"
            [width]="250" 
            [height]="400">
        </jqxPivotDesigner>
        </td>
        
    </tr>
</table>