
<section class="auth-form row flex-center flex mt-5 mx-auto col-md-6">
    <div class="mt-5 w-75">
      <h2 class="ml-5 mx-auto text-center">Sign Up</h2>
  
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class=" my-3  form-group">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="d-grid mx-auto text-center">
        <button type="submit" class="btn btn-primary" [disabled]="loading">Sign Up</button>
      </div>
      <div class="text-center mt-5">
        <ng-container>
            <a [routerLink]="['/']" class="text-black">
                Already have an account? <small>Sign In here!</small>
              </a>
        </ng-container>
      </div>
    </form>
  </div>
  </section>
  